<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<form #signupForm="ngForm" *ngIf="!isLoading" (ngSubmit)="saveButtonClickHandler(signupForm); signupForm.reset()">
    <div>
        <label for="username" class="form-label">Username</label>
        <input 
            type="text" 
            class="form-control mb-3" 
            id="username"
            name="username"
            [(ngModel)]="username"
            placeholder="Choose A Username"
            required
        />
    </div>
    <div>
        <label for="email" class="form-label">Email Address</label>
        <input 
            type="email" 
            class="form-control" 
            id="email"
            name="email"
            [(ngModel)]="email"
            placeholder="Enter Your Email Address"
            required
            email
        />
        <div class="mb-3">We will never share your email with anyone.</div>
    </div>
    <div>
        <label for="password" class="form-label">Password</label>
        <input 
            type="text" 
            class="form-control" 
            id="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Choose A Password"
            required
        />
        <div class="mb-3">Password must containt ADD_THIS_LATER</div>
    </div>
    <div>
        <div class="d-grid d-block">
            <p class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
            <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Save</button>
        </div>
    </div>
</form>
