<div class="container">
    <p>
        Welcome to Dan's Forum. Here you can discuss things that Dan likes.
    </p>
    <app-login-form *ngIf="!isAuthenticated" (onCreateAccount)="open(content)"></app-login-form>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Sign Up</h4>
            <button class="btn btn-danger" (click)="modal.dismiss()">X</button>
        </div>
        <div class="modal-body">
            <app-signup-form (onSignupSave)="modal.close()"></app-signup-form>
        </div>
    </ng-template>
</div>