<div class="container red-border">
    <div *ngFor="let board of boards" class="card mb-2 container w-75">
        <div class="card-body d-flex flex-column flex-md-row justify-content-between">
            <img src="{{ board.imgUrl }}" class="col-md-2" alt="">
            <div class="col-md-5">
                <a  routerLink="{{ board.id }}"><h5 class="card-title">{{ board.title }}</h5></a>
                <p class="card-text">{{ board.description }}</p>
            </div>
            <div class="col-md-2">
                <p>Number of Topics: {{ board.topics }}</p>
            </div>
            <div class="col-md-3">
                <p>Last Post: {{ board.lastTitle }}</p>
                <p>By: {{ board.lastUser }}</p>
                <p>On: {{ board.lastDate }}</p>
            </div>
        </div>
        
    </div>
</div>
