<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<form #loginForm="ngForm" *ngIf="!isLoading" (ngSubmit)="loginButtonClickHandler(loginForm); loginForm.reset()" class="mx-md-auto col-md-6 shadow">
    <h4>Login</h4>
    <div class="row mx-1">
        <div class="col-md-6">
            <label for="username" class="form-label">Username</label>
            <input 
                type="text" 
                class="form-control" 
                id="username"
                name="username"
                [(ngModel)]="username"
                required/>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
            <label for="password" class="form-label">Password</label>
            <input 
                type="password" 
                class="form-control" 
                id="password"
                name="password"
                [(ngModel)]="password"
                required
            />
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
    </div>
    <div class="d-grid d-md-block">
        <button type="submit" class="btn btn-primary mt-3 mx-3" [disabled]="!loginForm.valid">Login</button>
    </div>
    <br>
    <p>No Account?  <button type="button" class="btn btn-primary btn-sm mb-2" (click)="signupButtonClickHandler()">Create Account</button></p>
</form>


